<!DOCTYPE html>
<h1><%= @e.project.estimating_number + " - " + @e.project.project_title %></h1>
    <h2> <%= @e.submission_title %>
        <%= "R#{@e.revision}" %>
        <% if @e.scheme != '' %>
            <%= ' Scheme ' + @e.scheme %>
        <% else %>
            <%= '' %>
        <% end %></h2>
    <form method="POST" action="/estimates/<%=@e.id%>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>
    <ul><li><%= "Sector: #{@e.sector}" %></li>
        <li><%= "Industry: #{@e.industry}" %></li>
        <li><%= "Labor Status: #{@e.labor_status}" %></li>
        <li><%= "Tax Status: #{@e.tax_status}" %></li>
        <li><%= "ICAP: #{@e.icap}" %></li>
        <li><%= "Site Acerage: #{@e.site_acerage}" %></li>
        <li><%= "GSF: #{@e.gsf}" %></li>
        <li><%= "Estimate Type: #{@e.estimate_type}" %></li>
        <li><%= "Design Phase: #{@e.design_phase}" %></li>
        <li><%= "Result: #{@e.result}" %></li>
    </ul>

    <br><br>
    <% if @e.summary == nil %>
        <h3><a href='/summaries/new'>Enter Cost Summary</a></h3>
    <% else %>
        <h3><a href='/summaries/<%= "#{@e.summary.id}" %>'>View Cost Summary</a></h3>
    <% end %>
    
    
    

<html>