<!DOCTYPE html>
<h1><%= @p.estimating_number + " - " + @p.project_title %></h1>
    <h2> <%= @p.address %>
        <%= @p.city %>
        <%= @p.state_abbrv %>
        <%= @p.zip %>
        <!--<% if @p.no_site == 'N' %>
            <%= '' %>
        <% else %>
            <%= "No Site" %>
        <% end %>--></h2>
    <h3>Estimates</h3>
    <% @p.estimates.each do |e| %>
        <% scheme = e.scheme if e.scheme != '' %>
        <a href='/estimates/<%= "#{e.id}" %>'><%= "#{e.submission_title} R#{e.revision} #{scheme}" %></a>
    <% end %>
    

    <br><br>
    <h3><a href='/estimates/new'>Create estimate</a></h3>
    <h3><a href='/projects'>Return to projects</a></h3>
    

<html>