<!DOCTYPE html>
<h1><%= @p.estimating_number + " - " + @p.project_title %></h1>
    <h2> <%= @p.address %>
        <%= @p.city %>
        <%= @p.state_abbrv %>
        <%= @p.zip %>
        <% if @p.no_site == 'N' %>
            <%= '' %>
        <% else %>
            <%= "No Site" %>
        <% end %></h2>
    <br><br>
    <a href='/projects'>Return to projects</a>
    

<html>